@use "colors" as clr;

.ConnectPage {
    display: grid;
    place-items: center;

    min-height: 100vh;
}

.ConnectPage__form {
    display: flex;
    flex-direction: column;
    gap: .5em;

    padding: 1em;
    background-color: clr.$neutral-100;

    font-size: 1.1rem;

    box-shadow: .5em .5em 0 0 clr.$primary-500;
}

.ConnectPage__input-box {
    display: flex;
    gap: .3em;

    margin: .5em 0;
    padding: 0;

    & > input {
        flex-basis: 100%;
    }
}

.ConnectPage__input {
    border: 0;

    font: inherit;

    &:hover {
        filter: brightness(80%);
    }

    &:focus {
        outline: 1px solid clr.$primary-500;
        outline-offset: 1px;
    }
}

.ConnectPage__submit {
    border: 0;
    background-color: clr.$primary-500;

    margin-top: 1em;
    padding: .5em 1em;

    color: clr.$neutral-900;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        filter: brightness(80%);
    }

    &:focus-visible {
        outline: 1px solid clr.$primary-500;
        outline-offset: 1px;
    }

    &:disabled {
        pointer-events: none;
    }
}