@use "colors" as clr;

.PConnect > .Page__container {
    display: grid;
    place-items: center;
}

.PConnect__content {
    max-width: 400px;

    padding: 1em;
    background-color: clr.$neutral-100;
}

.PConnect__errors {
    color: red;
    font-size: .9rem;
}

.PConnect__form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    font-size: 1.1rem;

    label {
        font-size: 1.1em;
    }
}

.PConnect__input-box {
    display: flex;
    gap: 0.3em;

    margin: 0.5em 0;
    padding: 0;

    & > input {
        flex-basis: 100%;
    }
}

.PConnect__input {
    border: 0;

    font: inherit;

    &:hover {
        filter: brightness(80%);
    }

    &:focus {
        outline: 1px solid clr.$primary-500;
        outline-offset: 1px;
    }
}

.PConnect__submit {
    border: 0;
    background-color: clr.$primary-500;

    margin-top: 1em;
    padding: 0.5em 1em;

    color: clr.$neutral-900;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        filter: brightness(80%);
    }

    &:focus-visible {
        outline: 1px solid clr.$primary-500;
        outline-offset: 1px;
    }

    &:disabled {
        pointer-events: none;
    }
}

.PConnect hr {
    margin: 1.5em 0;
}

.PConnect__already-connected {
    font-size: 0.9rem;

    .PConnect__server-pin {
        color: clr.$primary-500;
    }
}